@media screen and (max-width: 768px) {
    .temple-gallery {
        grid-template-columns: repeat(2, 1fr);
    }

@media screen and (max-width: 480px) {
    .temple-gallery {
        grid-template-columns: 1fr;
    }

	h1 {
		font-size: 2.5rem;
		margin-left: 10px;
        margin-top: 20px;
	}

	h2 {
		display: flex;
		font-size: 2rem;
		text-align: center;
		justify-content: space-between;
	}

	#menu {
		display: none;
	}

    .navigation {
		justify-content: flex-end;
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
        align-items: end;
		
    }

    .temple-gallery {
		display: grid;
        grid-template-columns: repeat(3, 1fr)
    }
}
}